.header {
    width: 100%;
    height: 100px;
    background-color: #FFFBF7;
    position: relative;
}

.header .container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.header__logo {
    width: auto;
    height: 80px;
}

.header__telephone {
    font-size: 18px;
    font-weight: 700;
    color: #202020;
    text-align: center;
}

.header__menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.header__menu_item {
    font-size: 16px;
    font-weight: 600;
    color: #565656;
    cursor: pointer;
}

.header__menu_item:hover {
    color: #FF7F57;
}