.slider {
    width: 100%;
    height: 460px;
    overflow: hidden;
    position: relative;
}

.slider__slide-container {
    left: 0;
    width: 200%;
    height: 100%;
    display: flex;
    transition: .5s ease;
    position: absolute;
}

.slider__slide-1, .slider__slide-2 {
    flex: 0.5;
    height: 100%;
    position: relative;
}

.slider__slide-1 .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider__slide-2 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider__slide-2 .slider__text-container {
    text-align: center;
}

.slider__btn-order {
    margin-top: 50px;
    border: none;
    border-radius: 20px;
    width: 165px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    background-color: #FF7F57;
}

.slide-1__img, .slide-2__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: absolute;
    z-index: -1;
}

.slide-1__img {
    background-image: url("../../img/Who-should-buy-an-electric-scooter.jpg");
}

.slide-2__img {
    background-image: url("../../img/0x0.jpg");
}

.slider__img-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.slider__text-container {
    color: #fff;
}

.slider__header-text {
    margin-bottom: 15px;
    font-size: 36px;
}

.slider__sub-text {
    font-size: 18px;
}

.slider__radio-btn-container {
    left: calc(50% - 20px);
    bottom: 20px;
    width: 40px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.slider__radio-btn {
    border: 3px solid #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.slider__radio-btn_active {
    background-color: #FF7F57;
}

.slider__order-form {
    border: 1px solid #696969;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 215px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFBF7;
}

.order-form__label {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.order-form__input {
    width: 100%;
    height: 25px;
}

.order-form__check-container {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.order-form__submit {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    background-color: #FF7F57;
    color: #fff;
}