/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .advantages__item-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 50px;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .slider__order-form {
        display: none;
    }

    .advantages__item-header-text {
        font-size: 18px;
    }

    .advantages__item-sub-text {
        font-size: 14px;
    }
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .header__menu {
        display: none;
    }

    .header__menu-btn-container {
        display: flex;
    }

    .header__popup-menu-container {
        display: block;
    }

    .advantages {
        height: auto;
    }
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}

/* X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {

}